.a22{
    display: inline-grid;
    top: 10px;
    width:15%;
    padding:0;
}
p {
    display: block;
}
body{
    margin:0;
    padding:0;
}
.test{
    /*   display: inline-grid; */
    top: 0;
    width:25%;
    padding:0;
    margin: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.headdiv{

    top: 0;
    min-width: 50%;
    padding:0;
    margin: auto;

    border: 1px solid black;

}
#container {   font-size: 0;
    align: center;
    border: 1px solid red;
    min-width: 100%;
    display: table;
    border-spacing: 0; /* For controlling spacing between cells... */}

#container > div {font-size: 1rem;
    display: table-cell;
    align: center;}

ul#dep {
    border: 1px;
    text-align: center;
    list-style: none;
    padding:0;
}


@media screen and (min-width: 480px) {
    ul#dep {
        text-align: left;
        text-indent: 25%;
    }

    li.sch:nth-child(odd) {
        background: #e4e4e4;
    }

    li.sch:hover {
        background: lightblue;
    }

    ul#dep li:first-child {
        text-indent: 0;
        text-align: center;
        background: darkslategray;
        color: white;
        font-weight: bold;
    }
}